In [ ]:
#CaseStudy1_Introduction_to_Python
#Submission_by_Karan_Veer_Singh

In [5]:
#Python_Version
import sys
print("Version:" + sys.version)
print("Version Info:", sys.version_info)

Version:3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]
Version Info: sys.version_info(major=3, minor=12, micro=7, releaselevel='final', serial=0)

In [11]:
#current_date_time
import datetime as dt
crntdt= dt.datetime.now()
print("Current Date and Time is:" ,crntdt)

Current Date and Time is: 2025-02-17 18:56:54.754564

In [15]:
print("Current Date and Time is:", crntdt.strftime("%d/%m/%Y %H:%M:%S"))

Current Date and Time is: 17/02/2025 18:56:54

In [25]:
#Radius_of_circle
rad=float(input("Enter The Radius of the Circle:"))
print("The Area of the Circle is:", 3.141*rad**2)

Enter The Radius of the Circle: 67

The Area of the Circle is: 14099.949

In [29]:
import math
Rad= float(input("Enter the Radius of your circle"))
print("Area of Circle with Radius", Rad, "is" , pi*Rad**2)

Enter the Radius of your circle 67

Area of Circle with Radius 67.0 is 14102.609421964582

In [33]:
#Name_Order_Reverse
firstN=input("Enter Your First Name")
middleN= input("Enter your Middle Name")
lastN= input("Enter your Last Name")
print("Hello:", lastN, " ", middleN, " ", firstN)

Enter Your First Name Karan
Enter your Middle Name Veer
Enter your Last Name Singh

Hello: Singh  Veer   Karan

In [49]:
#Split_list_tuple
inpN= input("Enter Numbers seperated by comma(,)")
listN= inpN.split(",")
tupleN= tuple(listN)
print("Tuple", tupleN)
print("List", listN)

Enter Numbers seperated by comma(,) 45,27,12,85,21,66,7,4

Tuple ('45', '27', '12', '85', '21', '66', '7', '4')
List ['45', '27', '12', '85', '21', '66', '7', '4']

In [57]:
#File_extension 
fileN= input("Enter the complete file Name:")
fileExtn= fileN.split(".")
print("File Extension of your file is", repr(fileExtn[-1]))

Enter the complete file Name: Coding.py

File Extension of your file is 'py'

In [55]:
#First_Last_elements
clrlist=["Red", "Green", "Blue", "White", "Black","Purple"]
print(clrlist[0], clrlist[-1])

Red Purple

In [61]:
#value_n+nn+nnn
x=int(input("Enter the value to be computed:"))
x1=int("%s%s" % (x,x))
x2=int("%s%s%s" % (x,x,x))
print("Value for",x,"To be computed as", x,"+",x1,"+",x2,"Equals:", x+x1+x2)

Enter the value to be computed: 3

Value for 3 To be computed as 3 + 33 + 333 Equals: 369

In [67]:
#Volume_of_sphere(Radius=6)
from math import pi
r=6
v=(4.0/3.0)*pi*r
print("Volume of sphere with radius 6=", v,"meter cube")

Volume of sphere with radius 6= 25.132741228718345 meter cube

In [71]:
#Seconds_into_Days,Hour,Minute,Seconds
t=int(input("Enter time in Seconds:"))
tout=t
SinD=24*3600
SinH=60*60
SinM=60
d=t//SinD
t%=SinD
h=t//SinH
t%=SinH
m=t//SinM
t%=SinM
s=t
print("The entered time", tout,"seconds is", d,"days", h,"hours", m, "minutes", s,"seconds")

Enter time in Seconds: 123412

The entered time 123412 seconds is 1 days 10 hours 16 minutes 52 seconds